.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #45a049; /* Darker Green */
}

.button:pressed {
    -fx-background-color: #39823d; /* Even Darker Green */
}